*{
    box-sizing: border-box;

}

.player{
    /* position: absolute; */
    padding: 10px;
    /* border: 2px solid black; */
    width: 20rem;
    text-align: center;
}

/* .player0{
    margin-right: 4rem;
}

.player1{
    margin-left: 4rem;
} */


.attr{
    font-size: 20px;
    font-family: Chilanka;
    padding: 10px;
}

.player__name{
    color: blue;
    /* display: block; */
}

.player__energy{
    position: absolute;
    left: 50%;
    top: -12px;
    transform: translateX(-50%);
    display: block;
    font-family: Cute Font;
    font-size: 30px;
    /* margin-top: 10px; */
}

.player__skill{
    color: red;
    display: block;
}

.playerWall{
    background-color: gray;
    width: 30px;
    height: 150px;
    display: inline-block;
}

.playerWall0{
    position: absolute;
    left: 488px;
    opacity: 0;
    top: 15%;
}

.playerWall1{
    position: absolute;
    right: 513px;
    opacity: 0;
    top: 15%;
}

.shieldImage{
    height: 150px;
    width: 50px;
}

.fire{
    margin-top: 80px;
    text-align: center;
    position: relative;
    display: inline-block;
    transition: all 4s;
}
.fire img{
    position: relative;
    width: 50%;
    height: 100%;
    top: 0px;
}
.fire span{
    position: absolute;
    left: 50%;
    z-index: 4;
    font-family: Cute Font;
    font-size: 24px;
    top: 80%;
}

.characterImage{
    margin-left: 10px;
}

.mainContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 2rem;
}

.shieldValue{
    position: absolute;

}
