{%extends 'music\base.html'%}
{%block content%}
<div align="center">
    <h2>{{album.album_title}}</h2>
    <img src={{album.image}}>
</div>
{%for song in page%}
<ul>
    <li><a style="text-decoration:none" href="{% url 'link3' artist.slug album.slug song.slug %}"><font size="+2">{{song}}</font></a></li>
</ul>
{%endfor%}
{%if page_obj.has_previous%}
<a href="?page={{page_obj.previous_page_number}}" style="display:inline;padding-right:20px">Previous</a>
{%endif%}
{{page_obj.number}}
{%if page_obj.has_next%}
<a href="?page={{page_obj.next_page_number}}" style="padding-left:20px">Next</a>
{%endif%}
{%endblock%}