{% extends 'music/base.html'%}
{% block content%}
<div align="center">
    <h2><font size="+3">{{a.song_title}}</font></h2>
    <img src="/static/song/{{a.slug}}.JPG">
</div>
<h1>{{b.count}} comment{{b.count|pluralize}} found</h1>

<h4>{%for comm in b%}
    {%if comm.song == a%}
    <div class="d">
    <span class="comment"><a href="">{{comm.user.username}}</a> {{comm.comment}}</span>
    </div>
    <form action="{% url 'link5' val1=val1 val2=val2 val3=val3 val4=comm.id%}" name="update" method="get">
        <button type="submit">EDIT</button>
    </form>
        <form action="{% url 'link6' val1=val1 val2=val2 val3=val3 val4=comm.id%}" name="delete" method="get">
            <button type="submit"><img src="/static/delete.JPG" width="15px" height="20px"></button>
        </form>
    <br>
    {%endif%}
    {%endfor%}
</h4>
<form action="{%url 'link3' val1=val1 val2=val2 val3=val3%}" name="comment" method="post">
    {% csrf_token %}
<div >
    {{form.comment}}
    <button type="submit">POST</button>
</div>
</form>
{{text}}
{%endblock%}