img.logo{
    position:absolute;
    width:100px;
    height:70px;
    top:20px;
}
img.home_nav{
    height:20px;
    width:18px;
    position: absolute;
    right:285px;
    top:70px;
    
}
div.strip{
    position: absolute;
    background-color:#111;
    width: 100%;
    height:100px;
    top: 0px;
    left:0px;
    
}
span.home_nav{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:white;
    position: absolute;
    top:68px;
    right:235px;    
}
a{
    text-decoration: none;
}
img.login_nav{
    height:25px;
    width:25px;
    position:absolute;
    right:200px;
    top:68px;
}
span.login_nav{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:white;
    position: absolute;
    top:68px;
    right:156px;    
}
img.logout_nav{
    height:25px;
    width:25px;
    position: absolute;
    right:200px;
    top:68px;
}
span.logout_nav{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:white;
    position: absolute;
    top:68px;
    right:139px;
}
img.sign-up_nav{
    height:25px;
    width:25px;
    position:absolute;
    right:122px;
    top:68px;
}
span.sign-up_nav{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:white;
    position: absolute;
    top:68px;
    right:61px;
}
img.cart_nav{
    height:25px;
    width:25px;
    position:absolute;
    right:104px;
    top:68px;
}
span.cart_nav{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:white;
    position: absolute;
    top:68px;
    right:66px;
}
div.bottom{
    position: relative;
    background-color:#111;
    width: 100%;
    height:80px;
    bottom: 0px;
    left:0px;
}
img.contact_nav{
    height:25px;
    width:25px;
    position:absolute;
    left: 50px;
    bottom:30px;
}
span.contact_nav{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:white;
    position: absolute;
    bottom:30px;
    left:80px;
}
img.about_nav{
    height:25px;
    width:25px;
    position:absolute;
    left: 175px;
    bottom:30px;
}
span.about_nav{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:white;
    position: absolute;
    bottom:30px;
    left:206px;
}
img.faq_nav{
    height:25px;
    width:25px;
    position:absolute;
    left: 285px;
    bottom:30px;
}
span.faq_nav{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:white;
    position: absolute;
    bottom:30px;
    left:315px;
}
span.home_nav:hover{
    color:blueviolet
}
span.login_nav:hover{
    color:blueviolet
}
span.logout_nav:hover{
    color:blueviolet
}
span.sign-up_nav:hover{
    color:blueviolet
}
span.about_nav:hover{
    color:blueviolet
}
span.faq_nav:hover{
    color:blueviolet
}
span.contact_nav:hover{
    color:blueviolet
}
span.cart_nav:hover{
    color:blueviolet
}
