{%extends 'main/base.html'%}
{%block style%}
<style>
    input{
        width: 250px;
        height:26px;
    }
    input:focus{
        box-shadow:0 1px 0 rgba(255,255,255,.5);
    }
    div.box{
        position: fixed;
        top:120px;
        left:600px;
        border-color: gray;
        border-style: solid;
        border-width: 1px;
        padding: 50px;
    }
    span{
        font-family: 'Adamina';
    }
    button{
        width:256px;
        background: rgb(255,190,0);
        height: 35px;
    }
    button:hover{
        background:rgb(240,180,0);
    }
    /*img{
        position: relative;
        width:200px;
        height:100px;
        left:666px;
    }*/
    div.error{
        position:fixed;
        top:560px;
        left:603px;
        border-color:red;
        border-style: solid;
        border-width: 2px;
        padding: 50px;
        padding-bottom: 45px;
    }
    img.error{
        position:fixed;
        top:570px;
        left: 735px;
        width:70px;
        height:70px;
    }
</style>
{%endblock%}
{%block content%}
    <br><br>
    {%if form.errors%}
    <div class="error">
        <img class="error" src="/static/error.png">
        <br><br>
            <span>Incorrect Username or Password</span>
    </div>
    {%endif%}
<div class="box">
    <span style="font-size: 30px;font-weight:400;">Login</span><br><br><br><br>
<form action="{% url 'user:login' %}" method="post">
    {% csrf_token %}
    <span>Username:</span><br>
    {{form.username}}<br><br>
    <span>Password:</span><br>
    {{form.password}}<br><br>
    <button type="submit">Login</button>
</form>
</div>
{%endblock%}
