{%extends 'main\base.html'%}
{%block content%}
<style>
    h1{
        position: absolute;
        top:90px;
        color:green;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
div.container{
    
    display: flex;
    flex-direction: column;
}
div.container div.box{
   border-style: groove;
   border-top-width: 1px;
   border-right-width: 0px;
   border-left-width: 0px;
   border-bottom-width: 1px;
   border-color: lightgrey;
   border-collapse:collapse;
}
.box{
   flex: 1;
   display: flex;
   align-content: space-between;
}
 
/* .box img{
   border-style: groove;
   border-top-width: 1px;
   border-right-width: 0px;
   border-left-width: 0px;
   border-bottom-width: 1px;
   width:40%;
} */
.box .image{
   width:300px;
   height: 150px;
   /* border :1px black solid; */
}
.box .content{
   width:60%;
   /* border :1px black solid; */
}
.box .price{
   width:20%;
   /* border :1px black solid; */
}
.box .quantity{
   width:20%;
   /* border :1px black solid; */
}
.box .price h3{
    position: relative;
    left: +80px;
    top:  +50px;
}
.box >div{
    margin-left: 20px;
}
input.num{
    width:100px;
    position: relative;
    left: +65px;
    top:  +68px;
}
span.price{
    position: absolute;
    left:1125px;
    top:215px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: grey;
}
span.quantity{
    position: absolute;
    left:1360px;
    top:215px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: grey;
}
h2.total{
    position: absolute;
    left:1125px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: black;
}
span.total{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: darkgreen;
}
button{
        width:256px;
        position:absolute;
        background: rgb(255,190,0);
        height: 35px;
        left:1125px;
    }
</style>
<h1>Shopping Cart</h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container">
        <div class="box">
            <img class="image" src="/static/one.JPG">
            <div class="content">
            <h3>BOX1</h3>
            <p>hi</p>
            </div>
            <div class="price">
                <h3 style="color: red;" >350 Rs</h3>
            </div>
            <div class="quantity">
                <input id="one" class="num" type="number" value="0" min="0" step="1">
            </div>
        </div>
        <div class="box">
            <img class="image" src="/static/two.JPG">
            <div class="content">
            <h3>BOX2</h3>
            <p>hi</p>
            </div>
            <div class="price">
                <h3 style="color: red;" >350 Rs</h3>
            </div>
            <div class="quantity">
                <input class="num" type="number" value="0" min="0" step="1" id="two">
            </div>
        </div>
        <div class="box">
            <img class="image" src="/static/three.JPG">
            <div class="content">
            <h3>BOX3</h3>
            <p>hi</p>
            </div>
            <div class="price">
                <h3 style="color: red;" >350 Rs</h3>
            </div>
            <div class="quantity">
                <input class="num" type="number" value="0" min="0" step="1" id="three">
            </div>
        </div>
    </div>
    <span class="price">Price</span>
    <span class="quantity">Quantity</span>
    <input type="hidden" value={{num}} id="hid"> 
<h2 class="total" >Total(<span id="total">{{num}}</span> items): <span class="total" id="price">{{price}} Rs</span></h2>
<br> <br><br><br>
<button class="buy" >Proceed to buy</button>
<script>
function quantity(){
    var val1 = document.getElementById('one');
    var val2 = document.getElementById('two');
    var val3 = document.getElementById('three');
    var ans = +val1.value + +val2.value + +val3.value;
    var num = document.getElementById('hid');
    num.value = ans;
    var h = document.getElementById('total');
    h.innerHTML = num.value;
    var price = document.getElementById('price');
    price.innerHTML = 350*+num.value + ' Rs';
    //h.innerHTML = 5;
}
var inp1 = document.getElementById('one');
inp1.addEventListener('change', quantity);
var inp2 = document.getElementById('two');
inp2.addEventListener('change', quantity);
var inp3 = document.getElementById('three');
inp3.addEventListener('change', quantity);
</script>
{%endblock%}