{%extends 'main\base.html'%}
{%block content%}
<!-- <img src="/static/pics/04.JPG" class="slide" style="width: 50%;height: 500px;position: relative;top:120px">
<img src="/static/pics/06.JPG" class="slide" style="width: 50%;height: 500px;position: relative;top:120px">
<img src="/static/pics/08.JPG" class="slide" style="width: 50%;height: 500px;position: relative;top:120px">
<img src="/static/pics/09.JPG" class="slide" style="width: 50%;height: 500px;position: relative;top:120px">
<img src="/static/pics/10.JPG" class="slide" style="width: 50%;height: 500px;position: relative;top:120px"> -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="bottom">
        <a href="{% url 'contact-us' %}"><img src="/static/contact.png" class="contact_nav">
            <span class="contact_nav">Contact Us</span></a>
        <a href="{% url 'about-us' %}"><img src="/static/about.png" class="about_nav">
            <span class="about_nav">About Us</span></a>
        <a href="{% url 'faq' %}"><img src="/static/faq.png" class="faq_nav">
            <span class="faq_nav">FAQ</span></a>
    </div>
    <!-- <script>
            myindex=0;
            show();
        function show()
        {
            var a=document.getElementsByClassName('slide');
            for(var i=0;i<a.length;i++)
            {
                a[i].style.display="none";
            }
            if(myindex>=a.length)
            myindex=0;
            a[myindex].style.display='block';
            myindex++;
            setTimeout(show, 2500);
        }
        </script> -->
{%endblock%}
